* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.body-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100%;
  margin: auto;
}

.header {
  padding-top: 20px;
}
.prompt-button {
  width: 70px;
  height: 30px;
}

.container {
  display: flex;
  justify-content: center;
  width: 777px;
  height: 777px;
  border: 2px solid black;
  margin: auto;
}
.container div {
  flex: 1;
}

.sqr-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.sqr-count div {
  flex: 1;
}

.error {
  font-size: 100px;
  font-weight: bold;
  
}

.square {
  background-color: darkgray;
  
}

.square:hover {
  background-color: yellow;
}



