* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.square {
  width: 10px;
  height: 10px;
  background-color: pink;
  border: 2px solid black;
}

.square:hover {
  background-color: yellow;
}

body {
  border: 5px solid red;
}

.body-container {
  width: 1000px;
  border: 5px solid blue;
}